﻿
@{
    ViewBag.Title = "ABC Intercargo SAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistema ABC Intercargo SAS</h2>
<hr />
@*New User ! @Html.ActionLink("Signup Now!", "NewUser", "Account")
    No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")*@
@if (!string.IsNullOrEmpty(Context.User.Identity.Name))
{
    <h2>
        Bienvenido: <b>@Context.User.Identity.Name</b>
    </h2>
}
else
{
    <p>
        Iniciar sesión  @Html.ActionLink("LogIn", "LogIn", "Account")
    </p>
}

@section MyScripts {
    <script type="text/javascript">
        $(function() {
                $('#listTypesDoc').val(0);
        })
    </script>
}
