﻿@using abcquotations.Domain.Entities
@model abcquotations.Web.Models.UserModel

@{
    ViewBag.Title = "Editar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LoginName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordEncrypted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordEncrypted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordEncrypted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State, (IEnumerable<SelectListItem>)ViewData["SelectListStates"], new { @class = "form-control" , @id = "listStates"})
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>) ViewData["SelectListRoles"], new {@class = "form-control", @id = "listRoles"})
                @Html.ValidationMessageFor(model => model.RoleId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles Actuales de: " + Model.LoginName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul class="list-group col-md-10">
                    @foreach (var item in (IList<UserRole>)ViewData["SelectCurrentRoles"])
                    {
                        <li class="list-group-item">@item.Role.Name</li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section MyScripts {
    <script type="text/javascript">
        $("document").ready(function () {
            $('#listStates').val('@Model.State');
            $('#listRoles').val(0);
        })
    </script>
}