﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
<div class="container">
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    @Html.ActionLink("ABC Intercargo SAS", "Index", "Home")
                </div>
            </div>
            <div class="navbar-brand pull-right">
                <i class="glyphicon glyphicon-user"></i><a href="/">@Context.User.Identity.Name</a>
                @Html.ActionLink("Logout", "SignOut", "Account")
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                @*<ul class="nav navbar-nav">
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">level 1</a>
                                    <ul class="dropdown-menu">
                                        <li class="menu-item ">
                                            <a href="#">Link 1</a>
                                        </li>
                                        <li class="menu-item dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Link 3</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>*@
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item ">
                                @Html.ActionLink("Lista", "Index", "User")
                            </li>
                            <li class="menu-item ">
                                @Html.ActionLink("Crear", "NewUser", "Account")
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item ">
                                @Html.ActionLink("Lista", "Index", "Role")
                            </li>
                            <li class="menu-item ">
                                @Html.ActionLink("Crear", "Create", "Role")
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proveedor<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item ">
                                @Html.ActionLink("Lista", "index", "Provider")
                            </li>
                            <li class="menu-item ">
                                @Html.ActionLink("Crear", "Create", "Provider")
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cliente<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item ">
                                @Html.ActionLink("Lista", "index", "Client")
                            </li>
                            <li class="menu-item ">
                                @Html.ActionLink("Crear", "Create", "Client")
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/common")
@RenderSection("scripts", required: false)
@RenderSection("MyScripts", required: false)
</body>
</html>
